@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Mono:ital,wght@1,500&display=swap');

.react-flip-main-cover{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.react-card-flip{
    border: 2px solid black;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.flip-f-status-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height:400px;
}
.flip-f-status-content{
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    font-size: 1.2em;
}
.flip-b-status-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
}

.flip-b-status-content > div{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 15px;
}
.btn-change{
    padding: 5%;
}
.btn-change > button{
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
border-radius: 50px;
color: black;
}

@media (min-width: 300px) and (max-width: 480px){
    .react-flip-main-cover{
        display: block;
    }
    .react-flip-main-cover{
        display: block;
    }
    .react-card-flip{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
    .flip-f-status-content{
        height:35vh;
    }
    .flip-b-status-content{
        height:35vh;
    }
    .flip-f-status-content{
        padding: 10px;
        font-size: 14px;
    }
    .flip-b-status-content > div{
        font-size: 14px;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    .react-flip-main-cover{
        display: block;
    }
    .react-flip-main-cover{
        display: block;
    }
    .react-card-flip{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10%;
    }
    .flip-f-status-content{
        height:50vh;
    }
    .flip-b-status-content{
        height:50vh;
    }
    .flip-f-status-content{
        padding: 10px;
        font-size: 14px;
    }
    .flip-b-status-content > div{
        font-size: 14px;
    }
}