.header-main-div{
    display: flex;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    justify-content: space-between;
}
.header-logo{
    width: 20%;
}
.header-logo > img{
    height: 80px;
}
.header-other{
    width: 70%;
    display: flex;
    align-items: center;
 justify-content: space-around;
}
.header-other > div{
    font-size: 20px;
    cursor: pointer;
}
.header-other > div:hover{
    color: white;
}
